name: ci

on:
  push:
    branches:
      - master

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: openv2x/hippocampus:latest
          build-args: |
            GIT_BRANCH=${{ github.ref_name }}
            REPO_URL=https://github.com/open-v2x/hippocampus
            GIT_COMMIT=${{ github.sha }}

  ssh:
    needs: docker
    runs-on: ubuntu-latest
    steps:
      - name: apply to cicd environment
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.LAB_HOST }}
          username: ${{ secrets.LAB_USERNAME }}
          password: ${{ secrets.LAB_PASSWORD }}
          port: ${{ secrets.LAB_PORT }}
          script: |
            set -e
          
          # download config file and get env variables
            rm -rf /tmp/config
            mkdir /tmp/config && cd /tmp/config
            wget https://raw.githubusercontent.com/open-v2x/hippocampus/master/config/default.yml
            container_names=(`cat default.yml | grep "container_name" | awk '{print $3}'`)
            cameras=(`cat default.yml | grep "camera_id" | awk '{print $3}'`)
            rtsp_urls=(`cat default.yml | grep "rtsp" | awk '{print $3}'`)
          
          # remove containers and images
            containers=(ffmpeg rtsp_simple_server lalserver)
            to_delete=(${containers[@]}  ${container_names[@]})
            for i in ${to_delete[@]}; do
              docker stop $i 2>/dev/null || true
              docker rm $i 2>/dev/null || true
            done
            docker rmi pull registry.cn-shanghai.aliyuncs.com/openv2x/hippocampus:latest
            docker images | grep none | awk '{print $3}' | xargs -I{} docker rmi -f {}
          
          # pull new image and run new containers
            docker run -d -p 1935:1935 -p 7001:8080 --restart=on-failure --name=lalserver q191201771/lal /lal/bin/lalserver -c /lal/conf/lalserver.conf.json
            docker run -d -v ~/Videos/test.mp4:/tmp/workdir/test.mp4 --restart=on-failure --name=ffmpeg --net=host jrottenberg/ffmpeg -re -stream_loop -1 -i /tmp/workdir/test.mp4 -r 25 -c:v libx264 -s 1920x1080 -rtsp_transport tcp -f rtsp rtsp://localhost:8554/mystream
            docker run -d -e RTSP_PROTOCOLS=tcp -p 8554:8554 --restart=on-failure --name=rtsp-simple-server aler9/rtsp-simple-server

            docker pull registry.cn-shanghai.aliyuncs.com/openv2x/hippocampus:latest
            for i in ${#cameras[@]}; do
              nvidia-docker run -d --restart=always --name=${container_names[i]} -e ${cameras[i]} -e ${rtsp_urls[i]} --gpus all --net=host registry.cn-shanghai.aliyuncs.com/openv2x/hippocampus:latest
            done

  acr:
      needs: docker
      runs-on: ubuntu-latest
      steps:
        - name: sync image to ACR
          uses: appleboy/ssh-action@master
          with:
            host: ${{ secrets.AIO_MASTER_HOST }}
            username: ${{ secrets.AIO_MASTER_USERNAME }}
            key: ${{ secrets.AIO_MASTER_KEY }}
            port: ${{ secrets.AIO_MASTER_PORT }}
            script: |
              docker pull openv2x/hippocampus:latest
              docker tag openv2x/hippocampus:latest registry.cn-shanghai.aliyuncs.com/openv2x/hippocampus:latest
              docker push registry.cn-shanghai.aliyuncs.com/openv2x/hippocampus:latest
