name: ci

on:
  push:
    branches:
      - master

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: openv2x/hippocampus:latest
          build-args: |
            GIT_BRANCH=${{ github.ref_name }}
            REPO_URL=https://github.com/open-v2x/hippocampus
            GIT_COMMIT=${{ github.sha }}

  ssh:
    needs: docker
    runs-on: ubuntu-latest
    steps:
      - name: apply to cicd environment
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.LAB_HOST }}
          username: ${{ secrets.LAB_USERNAME }}
          password: ${{ secrets.LAB_PASSWORD }}
          port: ${{ secrets.LAB_PORT }}
          script: |
            set -e

            array1=("lalserver" "hippocampus")
            array2=(`cat config/default.yml | grep "emulator" | awk '{print $2}'`)
            videos=(`cat config/default.yml | grep "video" | awk '{print $2}'`)
            ports=(`cat config/default.yml | grep "port" | awk '{print $2}'`)
            array_new=(${array1[@]} ${array2[*]})

            for(( i=0;i<${#array_new[@]};i++))
            do
                docker stop ${array_new[i]} || true
                docker rm -f ${array_new[i]} || true
            done;

            docker run -d -p 1935:1935 -p 7001:8080 --name=lalserver q191201771/lal /lal/bin/lalserver -c /lal/conf/lalserver.conf.json

            for(( i=0;i<${#array2[@]};i++))
            do
              docker run -v ~/Videos/${videos[i]}:/${videos[i]}  --rm -p ${ports[i]}:8554 -d --name=${array2[i]} steabert/gst-rtsp-launch "filesrc location=/${videos[i]} ! decodebin ! x264enc ! rtph264pay name=pay0 pt=96"
            done;

            docker pull registry.cn-shanghai.aliyuncs.com/openv2x/hippocampus:latest
            nvidia-docker run -d --restart=always --name=hippocampus --gpus all --net=host registry.cn-shanghai.aliyuncs.com/openv2x/hippocampus:latest

  acr:
      needs: docker
      runs-on: ubuntu-latest
      steps:
        - name: sync image to ACR
          uses: appleboy/ssh-action@master
          with:
            host: ${{ secrets.AIO_MASTER_HOST }}
            username: ${{ secrets.AIO_MASTER_USERNAME }}
            key: ${{ secrets.AIO_MASTER_KEY }}
            port: ${{ secrets.AIO_MASTER_PORT }}
            script: |
              docker pull openv2x/hippocampus:latest
              docker tag openv2x/hippocampus:latest registry.cn-shanghai.aliyuncs.com/openv2x/hippocampus:latest
              docker push registry.cn-shanghai.aliyuncs.com/openv2x/hippocampus:latest
