name: ci

on:
  push:
    branches:
      - master

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: openv2x/hippocampus:latest
          build-args: |
            GIT_BRANCH=${{ github.ref_name }}
            REPO_URL=https://github.com/open-v2x/hippocampus
            GIT_COMMIT=${{ github.sha }}

  ssh:
    needs: docker
    runs-on: ubuntu-latest
    steps:
      - name: apply to cicd environment
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.LAB_HOST }}
          username: ${{ secrets.LAB_USERNAME }}
          password: ${{ secrets.LAB_PASSWORD }}
          port: ${{ secrets.LAB_PORT }}
          script: |
            set -e

            docker rm -f lalserver || true
            docker run -d -p 1935:1935 -p 8088:8080 --name=lalserver q191201771/lal /lal/bin/lalserver -c /lal/conf/lalserver.conf.json

            containerName1="gst-rtsp-launch"

            if [[ -n $(docker ps -q -f "name=^${containerName1}$") ]];then
              echo "gst-rtsp-launch already exist"
            else
              docker run -v ~/Videos/test.flv:/test.flv --rm -p 8554:8554 -d --name=gst-rtsp-launch steabert/gst-rtsp-launch "filesrc location=/test.flv ! decodebin ! x264enc ! rtph264pay name=pay0 pt=96"
            fi

            containerName328="gst-rtsp-launch-328"

            if [[ -n $(docker ps -q -f "name=^${containerName328}$") ]];then
              echo "gst-rtsp-launch-328 already exist"
            else
              docker run -v ~/Videos/traffic_2.flv:/traffic_2.flv --rm -p 8553:8554 -d --name=gst-rtsp-launch-328 steabert/gst-rtsp-launch "filesrc location=/traffic_2.flv ! decodebin ! x264enc ! rtph264pay name=pay0 pt=96"
            fi

            containerName329="gst-rtsp-launch-329"

            if [[ -n $(docker ps -q -f "name=^${containerName329}$") ]];then
              echo "gst-rtsp-launch-329 already exist"
            else
              docker run -v ~/Videos/test1.flv:/test1.flv --rm -p 8552:8554 -d --name=gst-rtsp-launch-329 steabert/gst-rtsp-launch "filesrc location=/test1.flv ! decodebin ! x264enc ! rtph264pay name=pay0 pt=96"
            fi

            containerName2=hippocampus-328

            if [[ -n $(docker ps -q -f "name=^${containerName2}$") ]];then
              docker stop hippocampus-328|| true
            else
              echo "hippocampus-328 has stopped"
            fi

            if [[ -n $(docker ps -a -q -f "name=^${containerName2}$") ]];then
              docker rm hippocampus-328|| true
            else
              echo "hippocampus-328 do not exist"
            fi

            containerName3=hippocampus-329

            if [[ -n $(docker ps -q -f "name=^${containerName3}$") ]];then
              docker stop hippocampus-329|| true
            else
              echo "hippocampus-329 has stopped"
            fi

            if [[ -n $(docker ps -a -q -f "name=^${containerName3}$") ]];then
              docker rm hippocampus-329|| true
            else
              echo "hippocampus-329 do not exist"
            fi

            if [[ -n $(docker images --filter=reference='openv2x/hippocampus:latest' -q) ]];then
              docker rmi openv2x/hippocampus:latest || true
            else
              echo "openv2x/hippocampus:latest do not exist"
            fi

            docker pull openv2x/hippocampus:latest
            nvidia-docker run -d --restart=always --env "RSU=R328328" --name=hippocampus-328 --gpus all --net=host -v ~/Videos/test.flv:/home/hippocampus/video/test.flv -v ~/Videos/test1.flv:/home/hippocampus/video/test1.flv openv2x/hippocampus:latest
            nvidia-docker run -d --restart=always --env "RSU=R329329" --name=hippocampus-329 --gpus all --net=host -v ~/Videos/test.flv:/home/hippocampus/video/test.flv -v ~/Videos/test1.flv:/home/hippocampus/video/test1.flv openv2x/hippocampus:latest
       
  acr:
      needs: docker
      runs-on: ubuntu-latest
      steps:
        - name: sync image to ACR
          uses: appleboy/ssh-action@master
          with:
            host: ${{ secrets.AIO_MASTER_HOST }}
            username: ${{ secrets.AIO_MASTER_USERNAME }}
            key: ${{ secrets.AIO_MASTER_KEY }}
            port: ${{ secrets.AIO_MASTER_PORT }}
            script: |
              docker pull openv2x/hippocampus:latest
              docker tag openv2x/hippocampus:latest registry.cn-shanghai.aliyuncs.com/openv2x/hippocampus:latest
              docker push registry.cn-shanghai.aliyuncs.com/openv2x/hippocampus:latest
